<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://get.wallhere.com/photo/black-bicycle-vehicle-blue-light-color-wheel-drops-blur-darkness-sports-equipment-land-vehicle-close-up-mountain-bike-575965.jpg);">
  <div class="container">
    <h1><strong>Rent a bike, wherever, whenever.</strong></h1>
    <p>All kinds of bikes to rent</p>
    <%= link_to "Browse the best of the best", bikes_path, class:"btn btn-flat" %>
  </div>
</div>
