<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod/images/seattle-davidoh-1-1539115443.jpg?crop=1.00xw:0.846xh;0,0.0489xh&resize=2048:*);">
  <div class="container">
    <h1><strong>Rent a bike, wherever, whenever.</strong></h1>
    <p>All kinds of bikes to rent</p>
    <%= link_to "Browse the best of the best", bikes_path, class:"btn btn-flat" %>
  </div>
</div>
